/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --font-family: "Epilogue", serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-size-paragraph: 18px;
}

.container {
  height: 100%;
  width: 100%;
}

.navigation-desktop {
  display: none;
}

.account-access-desktop {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 40%;
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.navigation {
  padding: 15px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  display: none;
  width: 60%;
  height: 100%;
}

.navigation__list {
  margin-top: 20px;
}

.navigation__list,
.account-access {
  align-self: self-start;
}

.navigation__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--medium-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.navigation__item:hover {
  color: var(--almost-black);
}

.features__item,
.company__item,
.careers__item,
.about__item,
.dropdown-features__element,
.dropdown-company__element {
  margin-block: 10px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-features {
  width: 10px;
  height: auto;
}

.dropdown-features,
.dropdown-company {
  display: none;
  flex-direction: column;
}

.dropdown-features__item {
  display: flex;
  margin-left: 30px;
  transition: 0.5s;
}

.dropdown-features__item:hover {
  color: var(--almost-black);
}

.account-access,
.account-access-desktop {
  margin-block: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--medium-gray);
}

.login {
  transition: 0.5s;
  margin-block: 15px;
}

.login:hover {
  color: var(--almost-black);
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100%;
  background-color: var(--almost-white);
  color: var(--almost-black);
  border: solid 1px var(--almost-black);
  border-radius: 14px;
  transition: 0.5s;
}

.register:hover {
  border-color: var(--almost-black);
  color: var(--almost-black);
}

.content {
  width: 100%;
}

.content__image {
  margin-block: 25px;
  width: 100%;
  height: 281.25px;
  background-image: url("images/image-hero-mobile.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.content__text {
  margin-top: 35px;
  text-align: center;
}

.content__text-title {
  margin-block: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: var(--almost-black);
}

.content__text-description {
  margin-inline: auto;
  width: 72%;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--medium-gray);
}

.learn-more {
  transition: 0.5s;
  font-size: 16px;
  height: 48px;
  width: 136px;
  border: 1px solid var(--almost-black);
  border-radius: 15px;
  margin-block: 25px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.222222px;
}

.learn-more:hover {
  background-color: transparent;
  color: var(--almost-black);
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.databiz {
  width: 81.25px;
  height: 14.36px;
}

.audiophile {
  width: 52.87px;
  height: 26px;
}

.meet {
  width: 64.14px;
  height: 14.36px;
}

.maker {
  width: 58.9px;
  height: 17.23px;
}

@media screen and (min-width: 768px) {
  .container {
    overflow: hidden;
  }

  .open,
  .close,
  .navigation-mobile {
    display: none;
  }

  .header {
    padding: 5px 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .navigation-desktop {
    display: flex;
    margin-left: 80px;
  }

  .navigation__list-desktop {
    display: flex;
    align-items: center;
  }

  .navigation__item-desktop {
    transition: 0.5s;
    cursor: pointer;
    color: var(--medium-gray);
    margin-right: 80px;
  }

  .navigation__item-desktop:hover {
    color: var(--almost-black);
  }

  .features-desktop,
  .company-desktop {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .dropdown-features__desktop,
  .dropdown-company__desktop {
    padding-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: var(--medium-gray);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .dropdown-features__desktop {
    left: -70%;
    width: 143px;
    height: 150px;
  }

  .dropdown-company__desktop {
    width: 116px;
    height: 110px;
  }

  .dropdown-features__desktop-element,
  .dropdown-company__desktop-element {
    transition: 0.5s;
    margin-block: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .dropdown-features__desktop-element:hover,
  .dropdown-company__desktop-element:hover {
    color: var(--almost-black);
  }

  .account-access-desktop {
    display: flex !important;
    justify-content: flex-end;
    flex-direction: row;
  }

  .desktop-login {
    cursor: pointer;
    transition: 0.5s;
    margin-block: 15px;
    margin-right: 50px;
  }

  .desktop-login:hover {
    color: var(--almost-black);
  }

  .desktop-register {
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: solid 1px var(--almost-black);
    width: 104px;
    height: 42px;
  }

  .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .content__image {
    width: 480px;
    height: 640px;
    background-image: url("images/image-hero-desktop.png");
    background-size: cover 640px;
  }

  .content__text {
    text-align: left;
    width: 40%;
    margin-top: 105px;
  }

  .content__text-title {
    width: 86%;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.11111px;
  }

  .content__text-description {
    width: 68%;
    margin-inline: 0;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
  }

  .learn-more {
    width: 163px;
    height: 56px;
  }

  .footer {
    margin-top: 50px;
  }

  .databiz {
    width: 113.14px;
    height: 20px;
  }

  .audiophile {
    width: 73px;
    height: 35.9px;
  }

  .meet {
    width: 89.31px;
    height: 20px;
  }

  .maker {
    width: 82.01px;
    height: 24px;
  }
}
